body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
label {
	font-weight:bold;
	width:100px;
	font-size:14px;
}
.box {
	border:#666666 solid 1px;
}

.todo-text-td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.todo-list-due-date {
	font-size: 10px;
	color: white;
	border: 0px solid;
	background-color: transparent;
	width: 54px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.past-due {
	display: none;
}
.past-due.show {
	display: table-row;
}
.future-due {
	display: none;
}
.future-due.show {
	display: table-row;
}

#lists-dropdown {
    display: inline;
}
#active-date-block {
    margin: 0 50 0;
}
#add-list-button {
    display: inline;
}
#select-list {
    border-radius: 20px;
    text-align: center;
    text-align-last: center;
}